<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    
    <!-- Stylesheets --> 
    <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
    
    <!-- Favicon -->
    <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/x-icon">
    
    <!-- Additional custom head content -->
    {% if page.custom_css %}
        {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="{{ '/assets/css/' | append: stylesheet | append: '.css' | relative_url }}">
        {% endfor %}
    {% endif %}
</head>
<body>
    <!-- Vertical Bar with Toggle Button -->
    <div class="vertical-bar" id="verticalBar">
        <div class="sidebar-toggle" id="sidebarToggle">
            <span class="toggle-icon"></span>
            <span class="toggle-icon"></span>
            <span class="toggle-icon"></span>
        </div>
    </div>
    
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <ul class="nav-links">
             <li><a href="{{ '/about/' | relative_url }}">About</a></li>
            <li class="nav-dot">•</li>
            <li><a href="{{ '/writings/' | relative_url }}">Writings</a></li>
            <li class="nav-dot">•</li>
            <li><a href="{{ '/journal/' | relative_url }}">Journal</a></li>
            <li class="nav-dot">•</li>
            <li><a href="{{ '' | relative_url }}">Projects</a></li>
            <li class="nav-dot">•</li>
            <li><a href="{{ '/research/' | relative_url }}">Research</a></li>
        </ul>
        
        <div class="sidebar-content">
            <p class="feature-text">"Quotes"</p>
        </div>
    </div>
    
    <!-- Main Content -->
    <main class="main-content">
        {{ content }}
    </main>
    
    <!-- Scripts -->
    <script src="{{ '/assets/js/default.js' | relative_url }}"></script>

    {% if page.custom_js %}
        {% for js_file in page.custom_js %}
        <script src="{{ '/assets/js/' | append: js_file | append: '.js' | relative_url }}"></script>
        {% endfor %}
    {% endif %}
</body>
</html>
